@font-face {
    font-family: 'Avenir';
    src: url("fonts/Avenir/Avenir-Light.ttf")  format("truetype"),
    url("fonts/Avenir/Avenir-Light.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Helvetica';
    src: url("fonts/Halvetic/HelveticaBold.ttf")  format("truetype"),
    url("fonts/Halvetic/HelveticaBold.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}
body {
    width: 100%;
    max-width: 70rem;
    min-width: 20rem;
    height: 4600px;
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
    padding-left: 150px;
    background: linear-gradient(180deg, #F6FAFD 0%, #FFFFFF 19.4%);
}
a {
    text-decoration: none;
    font-family: Avenir;
}
p {
    font-family: Avenir;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #4B5D68;
}
h2 {
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 130%;
    color: #212353;
}
h3 {
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 130%;
    display: flex;
    color: #212353;
}
.header {
    margin: 62px auto 0 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.logo {
    padding-right: 121px;
}
.nav_menu {
    display: flex;
    gap: 40px;
    padding-right: 400px;
}
.nav_items {
    font-family: Avenir;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: #4B5D68;
}
.nav_items:first-child {
    font-weight: 800;
}
.nav_items:hover{
    font-weight: 1000;
    color: #212353;
}
.menu_but {
    width: 210px;
    height: 60px;
    background: #FFFFFF;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    border-radius: 50px;
    border: none;
    cursor: pointer;
    outline: none;
}
.menu_but:hover{
    transform: scale(1.1);
}
.menu_but span{
    font-family: Avenir;
    font-size: 16px;
    line-height: 160%;
    font-weight: 800;
    letter-spacing: 0.005em;
    color: #212353;
}
.menu_but img{
    padding-left: 14px;
    width: 20px;
    max-height: 14px;
}
.first_stage{
    width: 1250px;
    height: 600px;
    margin: 143px auto 0 0;
    background-image: url("img/image1 1.svg");
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: right bottom;
}
.first_stage_content h1{
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 110%;
    display: flex;
    align-items: center;
    color: #212353;
    width: 645px;
    height: 184px;
}
.first_stage_content p{
    width: 350px;
    height: 130px;
    font-family: Avenir;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #4B5D68;
}
.first_stage_content button{
    width: 170px;
    height: 60px;
    background: #9C69E2;
    border-radius: 50px;
    border: none;
    outline: none;
    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 160%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    margin-top: 50px;
    cursor: pointer;
}
.first_stage_content button:hover{
    transform: scale(1.2);
}
.second_stage{
    background-image: url("img/girl.svg");
    background-repeat: no-repeat;
    background-position: left;
    background-color: rgb(240,99,184,0.15);
    height: 560px;
    width: 1120px;
    margin: 150px 100px 0 0;
    border-radius: 50px;
}
.second_stage_content {
    height: 400px;
    width: 460px;
    padding: 80px 100px 0 550px;
}
.third_stage {
    margin: 150px 0 0 0;
    width: 1120px;
}
.third_stage_head {
    margin: auto;
    height: 260px ;
    width: 580px;
    text-align: center;
}
.third_stage_content {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
}
.features_block {
    display: flex;
    align-items: center;
    gap: 30px;
}
.features_text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 220px;
}
.features_text p{
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    text-align: left;
}
.features_text h3{
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 130%;
}
.features_text a{
    font-family: 'Avenir';
    font-weight: 900;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0.005em;
    color: #212353;
    margin-top: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.features_text a:hover{
    color: purple;
    font-weight: 1000;
}
.features_text img{
    margin-left: 20px;
    width: 20px;
    height: 14px;
}
.testimonials {
    background-color: rgb(156,105,226,1);
    padding-left: 100px;
    padding-top: 50px;
    width: 1000px;
    height: 650px;
    border-radius: 50px;
    margin: 200px 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.testimonials h2{
    color: #FFFFFF;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 130%;
}
.comment {
    background-color: #FFFFFF;
    box-shadow: 0px 20px 0px rgb(138, 86, 219);
    border-radius: 20px;
    width: 900px;
    height: 275px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 60px;
    gap: 40px;
}

.comment p{
    width: 500px;
}
.comment h4{
    font-family: Avenir;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 0.005em;
    color: #212353;
    margin-bottom: 5px;
}
.comment a{
    font-family: Avenir;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    letter-spacing: 0.01em;
    color: #9C69E2;
}
.testimonials_block_button {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 900px;
    cursor: pointer;
}
.arrow_button {
    display: flex;
    gap: 15px;
}
.footer{
    width:1120px;
    margin:225px 0 0 0
}
.footer_head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer_head_button{
    display: flex;
    gap:30px;
    cursor: pointer;
}
.footer_first_button{
    width: 170px;
    height: 60px;
    background: #F063B8;;
    border-radius: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 160%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
}
.footer_first_button:hover{
    transform: scale(1.1);
}
.footer_info {
    margin-top: 150px;
    gap: 135px;
    display: flex;
    align-items: baseline;
}
.footer_contacts{
    width: 335px;
}
.footer_contacts span{
    font-family: Avenir;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 160%;
    color: #212353;
    text-decoration: none;
}
.footer_contacts a {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}
.footer_contacts p{
    font-family: Avenir;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 180%;
    letter-spacing: 0.01em;
    color: #212353;
    padding-top: 50px;
}
.email {
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 180%;
    letter-spacing: 0.01em;
    color: #212353;
}
.phone {
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 180%;
    letter-spacing: 0.01em;
    color: #212353;
}
.footer_nav{
    display: flex;
    flex-direction: column;
}
.footer_nav p{
    font-family: Avenir;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 160%;
    color: #212353;
    padding-bottom: 30px;
}
.footer_nav a{
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 250%;
    color: #212353;
    text-decoration: none;
}
.footer_nav a:hover{
    color: #212353;
    font-weight: 900;
}
.footer_but_block {
    display: flex;
    gap: 25px;
}
.footer_but_block img{
    cursor: pointer;
}
.facebook_but:hover{
    background-color: mediumblue;
    border-radius: 50px;
    transform: scale(1.1);
}
.twitter_but:hover{
    background-color: deepskyblue;
    border-radius: 50px;
    transform: scale(1.1);
}
.insta_but:hover{
    background-color: purple;
    border-radius: 50px;
    transform: scale(1.1);
}
.footer_bottom {
    padding-top: 90px;
    display: flex;
    justify-content: space-between;
}
.footer_bottom p{
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 180%;
    letter-spacing: 0.01em;
    color: #212353
}
.footer_bottom img{
    cursor: pointer;
}
.footer_bottom img:hover{
    transform: scale(1.2);
}
.line {
    display: block;
    position: absolute;
    margin-top: 130px;
    width: 100vw;
    background: #9C69E2;
    opacity: 0.2;
    height: 2px;
    box-sizing: content-box;
}